//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Breadcrumb variables
$siimple-layout-breadcrumb-height: 34px;
$siimple-layout-breadcrumb-margin-bottom: 10px;
$siimple-layout-breadcrumb-margin-top: 0px;

//Breadcrumb crumb variables
$siimple-layout-breadcrumb-crumb-margin-right: 5px;
$siimple-layout-breadcrumb-crumb-padding-left: 25px;
$siimple-layout-breadcrumb-crumb-padding-right: 10px;

//Breadcrumb crumb first variables
$siimple-layout-breadcrumb-crumb-first-radius: 5px;
$siimple-layout-breadcrumb-crumb-first-padding: 10px;

//Breadcrumb crumb last variables
$siimple-layout-breadcrumb-crumb-last-radius: 5px;
$siimple-layout-breadcrumb-crumb-last-padding: 10px;

//Breadcrumb mixin
@mixin siimple-layout-breadcrumb
{
  display: block;

  width: 100%;
  height: $siimple-layout-breadcrumb-height;

  margin-bottom: $siimple-layout-breadcrumb-margin-bottom;
  margin-top: $siimple-layout-breadcrumb-margin-top;

  //Crumb class
  & &-crumb
  {
    display: inline-block;
    float: left;
    position: relative;

    height: $siimple-layout-breadcrumb-height;
    line-height: $siimple-layout-breadcrumb-height;

    background-color: $siimple-grey-2;

    text-align: center;
    @include siimple-font;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: $siimple-navy-4;

    margin-right: $siimple-layout-breadcrumb-crumb-margin-right;
    padding-left: $siimple-layout-breadcrumb-crumb-padding-left;
    padding-right: $siimple-layout-breadcrumb-crumb-padding-right;

    transition: all 0.3s;

    //Crumb hover
    &:hover
    {
      color: $siimple-navy;
      cursor: pointer;
    }

    //Crumb after
    &:after
    {
      content: "";
      z-index: 1;
      position: absolute;
      right: - #{$siimple-layout-breadcrumb-height / 2};
      top: 0;

      border-top: #{$siimple-layout-breadcrumb-height / 2} solid transparent;
      border-bottom: #{$siimple-layout-breadcrumb-height / 2} solid transparent;
      border-left: #{$siimple-layout-breadcrumb-height / 2} solid $siimple-grey-2;
    }

    //Crumb before
    &:before
    {
      content: "";
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;

      border-top: #{$siimple-layout-breadcrumb-height / 2} solid transparent;
      border-bottom: #{$siimple-layout-breadcrumb-height / 2} solid transparent;
      border-left: #{$siimple-layout-breadcrumb-height / 2} solid $siimple-white;
    }

    //First crumb
    &:first-of-type
    {
      border-top-left-radius: $siimple-layout-breadcrumb-crumb-first-radius;
      border-bottom-left-radius: $siimple-layout-breadcrumb-crumb-first-radius;

      padding-left: $siimple-layout-breadcrumb-crumb-first-padding;
    }

    //First of type before
    &:first-of-type:before
    {
      display: none;
    }

    //Last crumb
    &:last-of-type
    {
      border-top-right-radius: $siimple-layout-breadcrumb-crumb-last-radius;
      border-bottom-right-radius: $siimple-layout-breadcrumb-crumb-last-radius;

      padding-right: $siimple-layout-breadcrumb-crumb-last-padding;
    }

    //Last of type after
    &:last-of-type:after
    {
      display: none;
    }
  }
}