//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Content variables
$siimple-layout-content-zindex: 1;

//Layout content
@mixin siimple-layout-content
{
  //Content class
  &-content
  {
    display: inline-block;
    position: relative;
    z-index: $siimple-layout-content-zindex;

    //overflow-y: auto;
    //overflow-x: hidden;
  }
}
