//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Footer mixin
@mixin siimple-layout-footer
{
  //Display
  display: block;

  //Padding top
  padding-top: $siimple-layout-footer-padding-top;

  //Padding bottom
  padding-bottom: $siimple-layout-footer-padding-bottom;

  //Default is large style
  @include siimple-layout-large;

  //Small style
  &--small { @include siimple-layout-small; }

  //Large style
  &--large { @include siimple-layout-large; }

  //Fluid style
  &--fluid { @include siimple-layout-fluid; }

  //Foot colors
  @each $color,$list in $siimple-palette
  {
    //Set the background color
    &--#{$color} { background-color: siimple-color-base($color); }

    //Set the text color
    &--#{$color} { color: siimple-color-over($color); }
  }
}
