//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Footer variables
$siimple-layout-footer-padding-top: 50px;
$siimple-layout-footer-padding-bottom: 80px;

//Footer mixin
@mixin siimple-layout-footer
{
  display: block;

  padding-top: $siimple-layout-footer-padding-top;
  padding-bottom: $siimple-layout-footer-padding-bottom;

  //Footer colors
  @each $color,$list in $siimple-palette
  {
    //Footer color
    &#{&}--#{$color}
    {
      background-color: siimple-color-base($color);
      color: siimple-color-over($color);
    }
  }
}
