//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Jumbotron variables
$siimple-layout-jumbotron-padding-top: 120px;
$siimple-layout-jumbotron-padding-bottom: 120px;

//Jumbotron
@mixin siimple-layout-jumbotron
{
  //Jumbotron element
  &-jumbotron
  {
    display: block;

    padding-top: $siimple-layout-jumbotron-padding-top;
    padding-bottom: $siimple-layout-jumbotron-padding-bottom;
  }

  //Small jumbotron
  &-jumbotron &-jumbotron--small { @include siimple-layout-small; }

  //Large style
  &-jumbotron &-jumbotron--large { @include siimple-layout-large; }

  //Fluid style
  &-jumbotron &-jumbotron--fluid { @include siimple-layout-fluid; }

  //Jumbotron title text
  &-jumbotron &-title
  {
    display: block;
    line-height: 60px;

    @include siimple-font;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;

    margin: 0px;
  }

  //Jumbotron subtitle text
  &-jumbotron &-subtitle
  {
    display: block;
    line-height: 40px;

    @include siimple-font;
    font-size: 30px;
    text-decoration: none;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  //Jumbotron detail text
  &-jumbotron &-detail
  {
    display: block;
    line-height: 30px;

    @include siimple-font;
    font-size: 20px;
    text-decoration: none;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  //Jumbotron colors
  @each $color,$list in $siimple-palette
  {
    //Add the background color
    &-jumbotron--#{$color}
    {
      background-color: siimple-color-index($color, 3);
    }

    //Jumbotron title
    &-jumbotron--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Jumbotron subtitle color
    &-jumbotron--#{$color} &-subtitle
    {
      color: siimple-color-over($color);
    }

    //Jumbotron detail color
    &-jumbotron--#{$color} &-detail
    {
      color: siimple-color-over($color);
    }
  }
}
