//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Jumbotron
@mixin siimple-layout-jumbotron
{
  //Display
  display: block;

  //Padding top
  padding-top: $siimple-layout-jumbotron-padding-top;

  //Padding bottom
  padding-bottom: $siimple-layout-jumbotron-padding-bottom;

  //Default is large style
  @include siimple-layout-large;

  //Small style
  &--small { @include siimple-layout-small; }

  //Large style
  &--large { @include siimple-layout-large; }

  //Fluid style
  &--fluid { @include siimple-layout-fluid; }

  //Jumbotron title text
  &-title
  {
    //Display
    display: block; line-height: 60px;

    //Font
    @include siimple-font; font-weight: bold; font-size: 50px;

    //Margin
    margin: { top: 0px; bottom: 0px; }
  }

  //Jumbotron subtitle text
  &-subtitle
  {
    //Display
    display: block; line-height: 40px;

    //Font
    @include siimple-font; font-size: 30px;

    //Margin
    margin: { top: 10px; bottom: 10px; }
  }

  //Jumbotron detail text
  &-detail
  {
    //Display
    display: block; line-height: 30px;

    //Font
    @include siimple-font; font-size: 20px;

    //Margin
    margin: { top: 10px; bottom: 10px; }
  }

  //Jumbotron colors
  @each $color,$list in $siimple-palette
  {
    //Add the background color
    &--#{$color} { background-color: siimple-color-base($color); }

    //Add the title color
    &--#{$color} &-title { color: siimple-color-over($color); }

    //Add the subtitle color
    &--#{$color} &-subtitle { color: siimple-color-over($color); }

    //Add the detail color
    &--#{$color} &-detail { color: siimple-color-over($color); }
  }
}
