//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Menu mixin
@mixin siimple-layout-menu
{
  //Display
  display: inline-block;

  //Menu item
  &-item
  {
    //Size
    height: $siimple-layout-menu-item-height; line-height: $siimple-layout-menu-item-line-height;

    //Transition
    transition: all 0.3s;

    //Text
    @include siimple-font; font-weight: bold; font-size: $siimple-layout-menu-item-font-size; text-decoration: none;

    //Border radius
    border-radius: $siimple-layout-menu-item-radius;

    //Padding
    padding: { left: $siimple-layout-menu-item-padding-left; right: $siimple-layout-menu-item-padding-right; top: 0px; bottom: 0px; }

    //Hover
    &:hover { cursor: pointer; text-decoration: none; }
  }
}
