//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Navbar default variables
$siimple-layout-navbar-zindex: 3;
$siimple-layout-navbar-height: 60px;
$siimple-layout-navbar-padding: 0px;

//Navbar menu item variables
$siimple-layout-navbar-menu-item-margin: 0px;
$siimple-layout-navbar-menu-item-padding: 15px;

//Navbar title variables
$siimple-layout-navbar-title-size: 22px;
$siimple-layout-navbar-title-padding: 15px;

//Navbar mixin
@mixin siimple-layout-navbar
{
  //Navbar class
  &-navbar
  {
    display: block;
    //position: absolute; top: 0px; left: 0px;
    z-index: $siimple-layout-navbar-zindex;

    width: calc(100% - #{ 2 * $siimple-layout-navbar-padding });
    height: $siimple-layout-navbar-height;

    margin: 0px;
    padding: { left: $siimple-layout-navbar-padding; right: $siimple-layout-navbar-padding; }
  }

  //Navbar menu
  &-navbar &-menu
  {
    display: inline-block;
    float: right;

    height: $siimple-layout-navbar-height;
  }

  //Navbar menu item
  &-navbar &-menu &-menu-item
  {
    display: inline-block;
    float: left;

    height: $siimple-layout-navbar-height;
    line-height: $siimple-layout-navbar-height;

    margin-left: $siimple-layout-navbar-menu-item-margin;
    margin-right: $siimple-layout-navbar-menu-item-margin;
    padding-left: $siimple-layout-navbar-menu-item-padding;
    padding-right: $siimple-layout-navbar-menu-item-padding;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: $siimple-font-normal;
    @include siimple-font;

    transition: all 0.3s;
    opacity: 1.0;
    cursor: pointer;
  }

  //Navbar title
  &-navbar &-title
  {
    display: inline-block;
    float: left;

    height: $siimple-layout-navbar-height;
    line-height: $siimple-layout-navbar-height;

    text-decoration: none;
    font-weight: bold;
    font-size: $siimple-layout-navbar-title-size;
    @include siimple-font;

    padding-left: $siimple-layout-navbar-title-padding;
    padding-right: $siimple-layout-navbar-title-padding;

    transition: all 0.3s;
    opacity: 1.0;
    cursor: pointer;
  }

  //Colored topbar
  @each $color,$list in $siimple-palette
  {
    //Navbar background and text color
    &-navbar--#{$color}
    {
      background-color: siimple-color-index($color, 2);
      color: siimple-color-over($color);
    }

    //Navbar menu item
    &-navbar--#{$color} &-menu-item
    {
      color: siimple-color-over($color);
    }

    //Navbar menu item hover
    &-navbar--#{$color} &-menu-item:hover
    {
      background-color: siimple-color-index($color, 1);
    }

    //Navbar title
    &-navbar--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Navbar title hover
    &-navbar--#{$color} &-title:hover
    {
      background-color: siimple-color-index($color, 1);
    }
  }
}
