//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Navbar default variables
$siimple-layout-navbar-zindex: 3;
$siimple-layout-navbar-height: 60px;

//Navbar item variables
$siimple-layout-navbar-item-margin: 0px;
$siimple-layout-navbar-item-padding: 15px;

//Navbar link variables
$siimple-layout-navbar-link-margin: 0px;
$siimple-layout-navbar-link-padding: 15px;

//Navbar title variables
$siimple-layout-navbar-title-size: 22px;
$siimple-layout-navbar-title-padding: 15px;

//Navbar mixin
@mixin siimple-layout-navbar
{
  display: block;
  //position: absolute; top: 0px; left: 0px;
  z-index: $siimple-layout-navbar-zindex;

  width: 100%;
  height: $siimple-layout-navbar-height;

  margin: 0px;
  padding: 0px;

  //Navbar item, title and link common styles
  & &-item, & &-title, & &-link
  {
    display: inline-block;

    height: $siimple-layout-navbar-height;
    line-height: $siimple-layout-navbar-height;

    @include siimple-font;
  }

  //Navbar item
  & &-item
  {
    margin-left: $siimple-layout-navbar-item-margin;
    margin-right: $siimple-layout-navbar-item-margin;

    padding-left: $siimple-layout-navbar-item-padding;
    padding-right: $siimple-layout-navbar-item-padding;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: $siimple-font-normal;
  }

  //Navbar title
  & &-title
  {
    text-decoration: none;
    font-weight: bold;
    font-size: $siimple-layout-navbar-title-size;
    @include siimple-font;

    padding-left: $siimple-layout-navbar-title-padding;
    padding-right: $siimple-layout-navbar-title-padding;

    transition: all 0.3s;
    cursor: pointer;
  }

  //Navbar link
  & &-link
  {
    margin-left: $siimple-layout-navbar-link-margin;
    margin-right: $siimple-layout-navbar-link-margin;

    padding-left: $siimple-layout-navbar-link-padding;
    padding-right: $siimple-layout-navbar-link-padding;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: $siimple-font-normal;

    transition: all 0.3s;
    cursor: pointer;
  }

  //Colored topbar
  @each $color,$list in $siimple-palette
  {
    //Navbar background and text color
    &.&--#{$color}
    {
      background-color: siimple-color-index($color, 2);
      color: siimple-color-over($color);
    }

    //Navbar link
    &.&--#{$color} &-link
    {
      color: siimple-color-over($color);
    }

    //Navbar link hover
    &.&--#{$color} &-link:hover
    {
      background-color: siimple-color-index($color, 1);
    }

    //Navbar title
    &.&--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Navbar title hover
    &.&--#{$color} &-title:hover
    {
      background-color: siimple-color-index($color, 1);
    }
  }
}
