//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Sidebar variables
$siimple-layout-sidebar-width: 240px;
$siimple-layout-sidebar-zindex: 5;

//Sidebar menu variables
$siimple-layout-sidebar-menu-margin-top: 5px;
$siimple-layout-sidebar-menu-margin-bottom: 10px;

//Sidebar menu title variables
$siimple-layout-sidebar-menu-title-height: 30px;
$siimple-layout-sidebar-menu-title-size: 14px;
$siimple-layout-sidebar-menu-title-padding: 10px;
$siimple-layout-sidebar-menu-title-opacity: 0.8;

//Sidebar menu item variables
$siimple-layout-sidebar-menu-item-height: 50px;
$siimple-layout-sidebar-menu-item-padding: 15px;
$siimple-layout-sidebar-menu-item-size: 14px;

//Sidebar obfuscator variables
$siimple-layout-sidebar-obfuscator-zindex: 4;

//Sidebar component
@mixin siimple-layout-sidebar
{
  //Sidebar class
  &-sidebar
  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 0px;
    left: 0px;

    width: $siimple-layout-sidebar-width;
    height: 100%;
    z-index: $siimple-layout-sidebar-zindex;

    transform: translateX(- $siimple-layout-sidebar-width);
    transition: transform 0.3s;
  }

  //Sidebar menu class
  &-sidebar &-menu
  {
    display: block;

    margin-top: $siimple-layout-sidebar-menu-margin-top;
    margin-bottom: $siimple-layout-sidebar-menu-margin-bottom;
  }

  //Sidebar menu title
  &-sidebar &-menu &-menu-title
  {
    display: block;

    width: calc(100% - #{ $siimple-layout-sidebar-menu-title-padding });
    height: $siimple-layout-sidebar-menu-title-height;
    line-height: $siimple-layout-sidebar-menu-title-height;

    padding-left: $siimple-layout-sidebar-menu-title-padding;
    margin: 0px;

    text-decoration: none;
    text-align: left;
    font-size: $siimple-layout-sidebar-menu-title-size;
    font-weight: normal;
    @include siimple-font;

    opacity: $siimple-layout-sidebar-menu-title-opacity;
  }

  //Sidebar menu item
  &-sidebar &-menu &-menu-item
  {
    display: block;

    width: calc(100% - #{ $siimple-layout-sidebar-menu-item-padding });
    height: $siimple-layout-sidebar-menu-item-height;
    line-height: $siimple-layout-sidebar-menu-item-height;

    text-decoration: none;
    text-align: left;
    font-size: $siimple-layout-sidebar-menu-item-size;
    font-weight: bold;
    @include siimple-font;

    padding-left: $siimple-layout-sidebar-menu-item-padding;
    margin: 0px;

    transition: all 0.3s;
    cursor: pointer;
    opacity: 1.0;
  }

  //Sidebar title
  &-sidebar &-title
  {
    display: block;
  }

  //Sidebar obfuscator
  &-sidebar-obfuscator
  {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    z-index: $siimple-layout-sidebar-obfuscator-zindex;
    transition: all 0.3s;
  }

  //Colored sidebar
  @each $color,$list in $siimple-palette
  {
    //Sidebar
    &-sidebar--#{$color}
    {
      color: siimple-color-over($color);
      background-color: siimple-color-index($color, 3);
    }

    //Sidebar title
    &-sidebar--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Sidebar title hover
    &-sidebar--#{$color} &-title:hover
    {
      background-color: siimple-color-index($color, 1);
    }

    //Sidebar menu item
    &-sidebar--#{$color} &-menu-item
    {
      color: siimple-color-over($color);
    }

    //Sidebar menu item hover
    &-sidebar--#{$color} &-menu-item:hover
    {
      color: siimple-color-over($color);
      background-color: siimple-color-index($color, 1);
    }
  }
}
