//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Sidebar variables
$siimple-layout-sidebar-width: 240px;
$siimple-layout-sidebar-zindex: 5;

//Sidebar menu variables
$siimple-layout-sidebar-menu-margin-top: 5px;
$siimple-layout-sidebar-menu-margin-bottom: 5px;

//Sidebar menu title variables
$siimple-layout-sidebar-menu-title-height: 25px;
$siimple-layout-sidebar-menu-title-size: 16px;
$siimple-layout-sidebar-menu-title-padding: 10px;
$siimple-layout-sidebar-menu-title-opacity: 0.6;

//Sidebar menu item variables
$siimple-layout-sidebar-menu-item-height: 40px;
$siimple-layout-sidebar-menu-item-padding: 10px;

//Sidebar obfuscator variables
$siimple-layout-sidebar-obfuscator-zindex: 4;

//Sidebar component
@mixin siimple-layout-sidebar
{
  //Sidebar class
  &-sidebar
  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 0px;
    left: 0px;

    width: $siimple-layout-sidebar-width;
    height: 100%;
    z-index: $siimple-layout-sidebar-zindex;

    transform: translateX(- $siimple-layout-sidebar-width);
    transition: transform 0.3s;
  }

  //Sidebar menu class
  &-sidebar &-menu
  {
    display: block;

    margin-top: $siimple-layout-sidebar-menu-margin-top;
    margin-bottom: $siimple-layout-sidebar-menu-margin-bottom;
  }

  //Sidebar menu title
  &-sidebar &-menu &-menu-title
  {
    display: block;

    width: calc(100% - #{ $siimple-layout-sidebar-menu-title-padding });
    height: $siimple-layout-sidebar-menu-title-height;
    line-height: $siimple-layout-sidebar-menu-title-height;

    padding-left: $siimple-layout-sidebar-menu-title-padding;
    margin: 0px;

    text-decoration: none;
    text-align: left;
    font-size: $siimple-layout-sidebar-menu-title-size;
    font-weight: normal;
    @include siimple-font;

    opacity: $siimple-layout-sidebar-menu-title-opacity;
  }

  //Sidebar menu item
  &-sidebar &-menu &-menu-item
  {
    display: block;

    width: calc(100% - #{ $siimple-layout-sidebar-menu-item-padding });
    height: $siimple-layout-sidebar-menu-item-height;
    line-height: $siimple-layout-sidebar-menu-item-height;

    padding-left: $siimple-layout-sidebar-menu-item-padding;
    margin: 0px;

    transition: all 0.3s;
    cursor: pointer;
    opacity: 1.0;
  }

  //Sidebar obfuscator
  &-sidebar-obfuscator
  {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: $siimple-layout-sidebar-obfuscator-zindex;
    transition: all 0.3s;
  }

  //Colored sidebar
  @each $color,$list in $siimple-palette
  {
    //Sidebar
    &-sidebar--#{$color}
    {
      color: siimple-color-over($color);
      background-color: siimple-color-base($color);
    }

    //Sidebar title
    &-sidebar--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Sidebar title hover
    &-sidebar--#{$color} &-title:hover
    {
      background-color: siimple-color-index($color, 3);
    }

    //Sidebar menu item
    &-sidebar--#{$color} &-menu-item
    {
      color: siimple-color-over($color);
    }

    //Sidebar menu item hover
    &-sidebar--#{$color} &-menu-item:hover
    {
      color: siimple-color-over($color);
      background-color: siimple-color-index($color, 3);
    }
  }

  /*
  //Sidebar menu icon
  &-button
  {
    //Display
    display: block; z-index: $siimple-layout-sidebar-button-zindex;

    //Size
    width: $siimple-layout-sidebar-button-width; height: $siimple-layout-sidebar-button-height;

    //Margin top
    margin-top: $siimple-layout-sidebar-button-margin-top;

    //Margin buttom
    margin-bottom: $siimple-layout-sidebar-button-margin-bottom;

    //Margin left
    margin-left: $siimple-layout-sidebar-button-margin-left;

    //Margin right
    margin-right: $siimple-layout-sidebar-button-margin-right;

    //Position
    position: absolute; top: 0px; left: 0px;

    //Cursor
    cursor: pointer;

    //Hamburguer
    & span, & span::after, & span::before
    {
      //Display
      display: inline-block;

      //Background color
      //background-color: $siimple-layout-sidebar-hamburguer-background;

      //Border radius
      border-radius: $siimple-layout-sidebar-hamburguer-radius;

      //Size
      width: $siimple-layout-sidebar-hamburguer-width; height: $siimple-layout-sidebar-hamburguer-height;

      //Margin
      //margin: { left: $siimple-layout-sidebar-hamburguer-margin; right: $siimple-layout-sidebar-hamburguer-margin; }

      //Position
      position: absolute;
    }

    //Hamburguer span
    & span { top: $siimple-layout-sidebar-hamburguer-top; left: $siimple-layout-sidebar-hamburguer-left; }

    //Hamburguer span before
    & span::before { content: ''; top: -10px; }

    //Hamburguer span after
    & span::after { content: ''; top: 10px; }
  }
  */
}
