//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Fluid variables
$siimple-layout-fluid-width: 100%;
$siimple-layout-fluid-offset: 20px;

//Small variables
$siimple-layout-small-width: 960px;

//Large variables
$siimple-layout-large-width: 1180px;

//Fluid size mixin
@mixin siimple-layout-fluid
{
  //Width
  width: calc(100% - #{$siimple-layout-fluid-offset + $siimple-layout-fluid-offset});

  //Padding left
  padding-left: $siimple-layout-fluid-offset;

  //Padding right
  padding-right: $siimple-layout-fluid-offset;
}

//Small size mixin
@mixin siimple-layout-small
{
  //Width
  width: $siimple-layout-small-width;

  //Padding left
  padding-left: calc(50% - #{$siimple-layout-small-width / 2});

  //Padding rigth
  padding-right: calc(50% - #{$siimple-layout-small-width / 2});

  //Media
  @media screen and (max-width: $siimple-layout-small-width)
  {
    //Include the fluid mixin
    @include siimple-layout-fluid;
  }
}

//Large size mixin
@mixin siimple-layout-large
{
  //Width
  width: $siimple-layout-large-width;

  //Padding left
  padding-left: calc(50% - #{$siimple-layout-large-width / 2});

  //Padding rigth
  padding-right: calc(50% - #{$siimple-layout-large-width / 2});

  //Media
  @media screen and (max-width: $siimple-layout-large-width)
  {
    //Include the fluid mixin
    @include siimple-layout-fluid;
  }
}
