//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Title component
@mixin siimple-layout-title
{
  //Display
  display: inline-block; height: 60px; line-height: 60px;

  //Transformation
  transition: all 0.3s; opacity: 1.0;

  //Text
  @include siimple-font; font-weight: bold; font-size: $siimple-layout-title-font-size; text-decoration: none;

  //Padding
  padding: { top: 0px; bottom: 0px; left: 0px; right: 0px; }

  //Logo hover
  &:hover { opacity: $siimple-layout-title-opacity; cursor: pointer; text-decoration: none; }
}
