//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Topbar default variables
$siimple-layout-topbar-zindex: 3;
$siimple-layout-topbar-height: 60px;
$siimple-layout-topbar-padding: 0px;

//Topbar menu item variables
$siimple-layout-topbar-menu-item-margin: 0px;
$siimple-layout-topbar-menu-item-padding: 15px;

//Topbar title variables
$siimple-layout-topbar-title-size: 22px;
$siimple-layout-topbar-title-padding: 15px;

//Topbar mixin
@mixin siimple-layout-topbar
{
  //Topbar class
  &-topbar
  {
    display: block;
    //position: absolute; top: 0px; left: 0px;
    z-index: $siimple-layout-topbar-zindex;

    width: calc(100% - #{ 2 * $siimple-layout-topbar-padding });
    height: $siimple-layout-topbar-height;

    margin: 0px;
    padding: { left: $siimple-layout-topbar-padding; right: $siimple-layout-topbar-padding; }
  }

  //Topbar menu
  &-topbar &-menu
  {
    display: inline-block;
    float: right;

    height: $siimple-layout-topbar-height;
  }

  //Topbar menu item
  &-topbar &-menu &-menu-item
  {
    display: inline-block;
    float: left;

    height: $siimple-layout-topbar-height;
    line-height: $siimple-layout-topbar-height;

    margin-left: $siimple-layout-topbar-menu-item-margin;
    margin-right: $siimple-layout-topbar-menu-item-margin;
    padding-left: $siimple-layout-topbar-menu-item-padding;
    padding-right: $siimple-layout-topbar-menu-item-padding;

    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: $siimple-font-normal;
    @include siimple-font;

    transition: all 0.3s;
    opacity: 1.0;
    cursor: pointer;
  }

  //Topbar title
  &-topbar &-title
  {
    display: inline-block;
    float: left;

    height: $siimple-layout-topbar-height;
    line-height: $siimple-layout-topbar-height;

    text-decoration: none;
    font-weight: bold;
    font-size: $siimple-layout-topbar-title-size;
    @include siimple-font;

    padding-left: $siimple-layout-topbar-title-padding;
    padding-right: $siimple-layout-topbar-title-padding;

    transition: all 0.3s;
    opacity: 1.0;
    cursor: pointer;
  }

  //Colored topbar
  @each $color,$list in $siimple-palette
  {
    //Topbar background and text color
    &-topbar--#{$color}
    {
      background-color: siimple-color-index($color, 2);
      color: siimple-color-over($color);
    }

    //Topbar menu item
    &-topbar--#{$color} &-menu-item
    {
      color: siimple-color-over($color);
    }

    //Topbar menu item hover
    &-topbar--#{$color} &-menu-item:hover
    {
      background-color: siimple-color-index($color, 1);
    }

    //Topbar title
    &-topbar--#{$color} &-title
    {
      color: siimple-color-over($color);
    }

    //Topbar title hover
    &-topbar--#{$color} &-title:hover
    {
      background-color: siimple-color-index($color, 1);
    }
  }
}
