//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Import siimple
@import "siimple/scss/_mixins.scss";

//Import siimple colors
@import "siimple-colors/scss/_mixins.scss";

//Import all mixins
@import "./_mixins.scss";

//Layout class
.siimple-layout
{
  display: flex; 
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  
  width: 100%; 
  height: 100%;
  
  @include siimple-font; 
  color: $siimple-navy; 
  font-size: 14px; 
  font-weight: normal;

  //background-color: $siimple-white;

  //Include jumbotron class
  &-jumbotron { @include siimple-layout-jumbotron; }

  //Include footer class
  &-footer { @include siimple-layout-footer; }

  //Include content class
  @include siimple-layout-content();

  //Include navbar class
  &-navbar { @include siimple-layout-navbar; }

  //Small style
  &--small { @include siimple-layout-small(); }

  //Large style
  &--large { @include siimple-layout-large(); }

  //Fluid style
  &--fluid { @include siimple-layout-fluid(); }

  //Left align
  &--left { float: left; }

  //Right align
  &--right { float: right; }
}
