//
// siimple-layout: the layout module for siimple
// Under the MIT LICENSE.
// License:    https://github.com/siimple/siimple-layout/blob/master/LICENSE.md
// Repository: https://github.com/siimple-layout
// Website:    https://siimple.juanes.xyz
//

//Import siimple
@import "siimple/scss/_mixins.scss";

//Import siimple colors
@import "siimple-colors/scss/_mixins.scss";

//Import all mixins
@import "./_mixins.scss";

//Layout class
.siimple-layout
{
  display: flex; 
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  
  width: 100%; 
  height: 100%;
  
  @include siimple-font; 
  color: $siimple-navy; 
  font-size: 14px; 
  font-weight: normal;

  //background-color: $siimple-white;

  //Include jumbotron class
  @include siimple-layout-jumbotron();

  //Include footer class
  @include siimple-layout-footer();

  //Include content class
  @include siimple-layout-content();

  //Include navbar class
  @include siimple-layout-navbar();
  
  //Include sidebar class
  @include siimple-layout-sidebar();

  //Small style
  &--small { @include siimple-layout-small(); }

  //Large style
  &--large { @include siimple-layout-large(); }

  //Fluid style
  &--fluid { @include siimple-layout-fluid(); }

  //Has sidebar and is visible
  &--has-sidebar &-sidebar.is-visible
  {
    transform: translateX(0);
  }

  //Has sidebar and is visible
  &--has-sidebar &-sidebar.is-visible ~ &-content
  {
    overflow: hidden;
  }

  //Has sidebar and is visible
  &--has-sidebar &-sidebar.is-visible ~ &-sidebar-obfuscator
  {
    visibility: visible;
  }

  //Has sidebar fixed set the content margin left
  &--has-sidebar-fixed &-content
  {
    margin-left: $siimple-layout-sidebar-width;
  }

  //Has sidebar fixed display the sidebar
  &--has-sidebar-fixed &-sidebar
  {
    transition: transform 0s !important;
    transform: translateX(0) !important;
  }

  //Has sidebar fixed hide the obfuscator
  &--has-sidebar-fixed &-sidebar-obfuscator
  {
    visibility: hidden !important;
  }

  //Has topbar fixed
  &--has-topbar-fixed
  {
    margin-top: $siimple-layout-topbar-height !important;
    height: calc(100% - #{$siimple-layout-topbar-height});
  }

  //Has topbar fixed
  &--has-topbar-fixed &-topbar
  {
    position: fixed;
    top: 0px;
    left: 0px;
  }
}
